.page-footer {
    position: fixed;
    /* left: 0;
    bottom: 0;
    width: 100%;
    color: white; */
    text-align: center;
}
.password-container {
    position: relative;
}
.password-container .toggle-password {
    position: absolute;
    right: 20px;
    top: 85%;
    transform: translateY(-85%);
    cursor: pointer;
}
.labelsmaller {
    font-size: smaller;
}

select,
.select2-selection,
input,
table {
    border: 1px solid rgba(0, 0, 0, 0.692) !important;
}
table {
    border-right: 0px !important;
}

table.dataTable > tbody > tr > * {
    border-top: 1px solid rgba(0, 0, 0, 0.692);
    /* border-right:  1px solid rgba(0, 0, 0, 0.692); */
}
/* table.dataTable > tbody > tr > *:first-child {
    border-left:  1px solid rgba(0, 0, 0, 0.692);
  } */
/* table.dataTable > tbody > tr:first-child > * {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  } */
html.dark table.dataTable > tbody > tr > th,
html.dark table.dataTable > tbody > tr > td {
    border-top: 1px 1px solid rgba(0, 0, 0, 0.692);
    /* border-right: 1px  1px solid rgba(0, 0, 0, 0.692); */
}
html.dark table.dataTable > tbody > tr > th:first-child,
html.dark table.dataTable > tbody > tr > td:first-child {
    border-left: 1px 1px solid rgba(0, 0, 0, 0.692);
}
html.dark .dt-container.dt-empty-footer table.dataTable {
    border-bottom: 1px solid rgba(0, 0, 0, 0.692);
}
.table-bordered {
    width: 100% !important;
}

/* *:not(.swal-modal *) {
    font-size: 14px !important;
} */
*:not(.swal-modal):not(.swal-modal *):not(.tab-content *):not(
        #sidebarTogger *
    ):not(.primaery-menu-close *):not(.notificationA *) {
    font-size: 13px !important;
}
.unseenNotifictaion {
    background-color: rgb(232 240 247);
}
.notify-desc-custom {
    color: rgba(33, 37, 41, var(--bs-text-opacity)) !important;
    font-size: 13px;
    font-weight: 400;
    min-width: 280px;
    /* text-align: justify; */
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Ensure all text is shown */
    word-break: keep-all;
    hyphens: auto;
}
